#ML{
    margin-left: 850px;
    color: azure;
    margin-bottom: 50px;
}


nav {
    background-color:rgba(10, 10, 10, 0.1) ;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    color: azure;
} 

body{
    background-image: url("https://th.bing.com/th/id/R.2d0764ca0ca7e52aa02c670302da999e?rik=I%2bKlszjwgXycuw&pid=ImgRaw&r=0");
}









